BACON_MONO_JAR=./bacon-app/bacon-mono-boot/target/bacon-mono-boot-0.0.1-SNAPSHOT.jar
BACON_PUBLIC_HTTP_PORT=18080
MINIO_API_PORT=19000
MINIO_CONSOLE_PORT=19001

MYSQL_DATABASE=bacon_sample
MYSQL_ROOT_PASSWORD=bacon_root
MYSQL_USER=cms
MYSQL_PASSWORD=cms123456

BACON_DB_URL=jdbc:mysql://mysql:3306/bacon_sample?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
BACON_DB_USERNAME=cms
BACON_DB_PASSWORD=cms123456
BACON_DB_DRIVER=com.mysql.cj.jdbc.Driver

BACON_REDIS_URL=redis://redis:6379/0
BACON_REDIS_PASSWORD=
BACON_REDIS_TIMEOUT=5s

BACON_MQ_ENABLED=true
BACON_MQ_TYPE=ROCKETMQ
BACON_ROCKETMQ_NAME_SERVER=rocketmq-nameserver:9876
BACON_ROCKETMQ_PRODUCER_GROUP=bacon-mono-boot-producer

BACON_INTERNAL_API_TOKEN=bacon-provider-token

BACON_STORAGE_TYPE=OSS
BACON_STORAGE_OSS_ENABLED=true
BACON_STORAGE_OSS_KIND=S3_API
BACON_STORAGE_OSS_ENDPOINT=http://minio:9000
BACON_STORAGE_OSS_PUBLIC_BASE_URL=http://127.0.0.1:19000/bacon-storage
BACON_STORAGE_OSS_BUCKET_NAME=bacon-storage
BACON_STORAGE_OSS_ACCESS_KEY=baconminio
BACON_STORAGE_OSS_SECRET_KEY=baconminio123
BACON_STORAGE_OSS_REGION=us-east-1
BACON_STORAGE_OSS_PATH_STYLE_ACCESS=true

BACON_TINYID_SERVER=127.0.0.1:9999
BACON_TINYID_TOKEN=tinyid_token

JAVA_OPTS=-Xms512m -Xmx512m
