BACON_PUBLIC_HTTP_PORT=18080
BACON_OPS_HTTP_PORT=19080
BACON_NACOS_HTTP_PORT=18848
MINIO_API_PORT=19000
MINIO_CONSOLE_PORT=19001

MYSQL_DATABASE=bacon_sample
MYSQL_ROOT_PASSWORD=bacon_root
MYSQL_USER=cms
MYSQL_PASSWORD=cms123456

BACON_DB_URL=jdbc:mysql://mysql:3306/bacon_sample?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
BACON_DB_USERNAME=cms
BACON_DB_PASSWORD=cms123456
BACON_DB_DRIVER=com.mysql.cj.jdbc.Driver

BACON_REDIS_URL=redis://redis:6379/0
BACON_REDIS_PASSWORD=
BACON_REDIS_TIMEOUT=5s

BACON_MQ_ENABLED=true
BACON_MQ_TYPE=ROCKETMQ
BACON_ROCKETMQ_NAME_SERVER=rocketmq-nameserver:9876

BACON_NACOS_SERVER_ADDR=bacon-register:8848
BACON_NACOS_DISCOVERY_ENABLED=true
BACON_NACOS_REGISTER_ENABLED=true
BACON_NACOS_NAMESPACE=public
BACON_NACOS_GROUP=DEFAULT_GROUP
BACON_NACOS_USERNAME=nacos
BACON_NACOS_PASSWORD=nacos

BACON_AUTH_JAR=./bacon-app/bacon-auth-starter/target/bacon-auth-starter-0.0.1-SNAPSHOT.jar
BACON_UPMS_JAR=./bacon-app/bacon-upms-starter/target/bacon-upms-starter-0.0.1-SNAPSHOT.jar
BACON_ORDER_JAR=./bacon-app/bacon-order-starter/target/bacon-order-starter-0.0.1-SNAPSHOT.jar
BACON_INVENTORY_JAR=./bacon-app/bacon-inventory-starter/target/bacon-inventory-starter-0.0.1-SNAPSHOT.jar
BACON_PAYMENT_JAR=./bacon-app/bacon-payment-starter/target/bacon-payment-starter-0.0.1-SNAPSHOT.jar
BACON_STORAGE_JAR=./bacon-app/bacon-storage-starter/target/bacon-storage-starter-0.0.1-SNAPSHOT.jar
BACON_GATEWAY_JAR=./bacon-app/bacon-gateway/target/bacon-gateway-0.0.1-SNAPSHOT.jar

BACON_AUTH_PROVIDER_TOKEN=bacon-auth-token
BACON_UPMS_PROVIDER_TOKEN=bacon-upms-token
BACON_ORDER_PROVIDER_TOKEN=bacon-order-token
BACON_INVENTORY_PROVIDER_TOKEN=bacon-inventory-token
BACON_PAYMENT_PROVIDER_TOKEN=bacon-payment-token
BACON_STORAGE_PROVIDER_TOKEN=bacon-storage-token

BACON_STORAGE_TYPE=OSS
BACON_STORAGE_OSS_ENABLED=true
BACON_STORAGE_OSS_KIND=S3_API
BACON_STORAGE_OSS_ENDPOINT=http://minio:9000
BACON_STORAGE_OSS_PUBLIC_BASE_URL=http://127.0.0.1:19000/bacon-storage
BACON_STORAGE_OSS_BUCKET_NAME=bacon-storage
BACON_STORAGE_OSS_ACCESS_KEY=baconminio
BACON_STORAGE_OSS_SECRET_KEY=baconminio123
BACON_STORAGE_OSS_REGION=us-east-1
BACON_STORAGE_OSS_PATH_STYLE_ACCESS=true

JAVA_OPTS=-Xms384m -Xmx384m
